<app-header></app-header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Yacimientos</h1>
        <p class="lead">Listado de yacimientos:</p>

        <div class="card border-primary mb-3">
            <div class="card-header cabecera_card">Yacimientos
                <div class="my-2 text-left">
                    <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded boton" type="button" [routerLink]="['/piezas/crear/yacimiento']">Crear </button>
                </div>
            </div>
            <div class="card-body text-primary">
            <h5 class="card-title">Yacimientos registrados en Arqueodata</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">nombre</th>
                        <th scope="col">lugar</th>
                        <th scope="col">época</th>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">eliminar</th>
                        <th *ngIf="authService.hasRole('ROLE_ADMIN')" scope="col">editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let yacimiento of yacimientos">
                        <td>{{yacimiento.id}}</td>
                        <td>{{yacimiento.nombre}}</td>
                        <td>{{yacimiento.lugar}}</td>
                        <td>{{yacimiento.epoca}}</td>
                        <td><button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="button" class="btn btn-primary" (click)="delete(yacimiento)">eliminar</button></td>
                        <td><button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="button" class="btn btn-primary" [routerLink]= "['/piezas/crear/yacimiento', yacimiento.id]">editar</button></td>
                    </tr>
                </tbody>
            </table>
            <paginador-nav *ngIf="paginador" [entidad]= 'entidad' [paginador]= 'paginador'></paginador-nav>
            </div>
        </div>
    
    </div>
</div>

<app-footer></app-footer>




