.fondo {
    position:relative;
    background-image: url(../../assets/img/fondoGeneral.jpg)!important;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    background-position: 0 0;
}

.general{
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

h1{
    margin-bottom: 10px;
}

.logo{
    opacity: 70%;
    width: 100%;
    padding: 10px;
}