<app-header></app-header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Crear pieza</h1>
    <p class="lead">Rellene el siguiente formulario para introducir una nueva pieza en la base de datos</p>

    <div class="col">
        <div class="card h-100 general">
        <form >
            <!-- input fecha y yacimiento -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="fecha">Fecha</label>
                        <input type="date" id="fecha" class="form-control" name="fecha" [(ngModel)]="pieza.fecha" required/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="yacimiento">Yacimiento</label>
                        <select class="form-control" name="yacimiento" [(ngModel)]="pieza.yacimiento">
                            <option *ngFor="let yacimiento of yacimientos" [ngValue]="yacimiento">{{yacimiento.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- input campaña y util -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="util">Útil</label>
                        <input type="text" id="util" class="form-control" name="util" [(ngModel)]="pieza.util"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="campaña">campaña</label>
                        <select class="form-control" name="campain" [(ngModel)]="pieza.campain">
                            <option type="number" *ngFor="let campain of campains" [ngValue]="campain">{{campain.campain}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- material input -->
            <div class="form-outline mb-4">
                <div class="form-group">
                    <label for="material">Material</label>
                    <select class="form-control" name="material" [(ngModel)]="pieza.material">
                        <option [ngValue]="undefined" selected>Elige uno...</option>
                        <option ngValue="hueso">Hueso</option>
                        <option ngValue="ceramica">Cerámica</option>
                        <option ngValue="metal">Metal</option>
                        <option ngValue="cristal">Cristal</option>
                        <option ngValue="organico">Orgánico</option>
                        <option ngValue="piedra">Piedra</option>
                    </select>
                </div>
            </div>

            <!-- coordenadas input -->
            <div class="form-outline mb-4">
                <fieldset>
                    <legend>Coordenadas: </legend>
                    <input type="number" id="x" class="form-control coordenada" placeholder="Coordenadas X"
                    name="x" [(ngModel)]="pieza.coordenadasX" required/>

                    <input type="number" id="y" class="form-control coordenada" placeholder="Coordenadas Y"
                    name="y" [(ngModel)]="pieza.coordenadasY" required/>

                    <input type="number" id="z" class="form-control coordenada" placeholder="Coordenadas Z"
                    name="z" [(ngModel)]="pieza.coordenadasZ" required/>
                </fieldset>
            </div>

            <!-- Radiobuttons -->
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Estado</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado" id="mb" 
                                value="mb" [(ngModel)]="pieza.estado"/>
                            <label class="form-check-label" for="mb">
                                Muy bien conservado
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado" id="bien" 
                                value="bien" [(ngModel)]="pieza.estado"/>
                            <label class="form-check-label" for="bien">
                                Bien conservado
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado" id="mal" 
                                value="mal" [(ngModel)]="pieza.estado"/>
                            <label class="form-check-label" for="mal">
                                Mal conservado
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- zona -->
            <div class="form-outline mb-4">
                <label class="form-label" for="zona">Zona</label>
                <input type="text" class="form-control" id="zona" name="zona" [(ngModel)]="pieza.zona" required/>
            </div>
            
            <!-- Observaciones -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example7">Observaciones</label>
                <textarea class="form-control" id="form6Example7" rows="4"
                name="observaciones" [(ngModel)]="pieza.observaciones"></textarea>
            </div>

            <!-- input foto -->
            <div class="form-outline mb-4">
                <label class="form-label" for="foto">Foto</label>
                <input type="text" id="foto" class="form-control" name="foto" [(ngModel)]="pieza.foto"/>
            </div>
            
            <!-- Crear o editar button -->
            <button type="submit" (click)="crear()" class="btn btn-primary btn-block mb-4"
                *ngIf="!pieza.id else elseBlock">Crear</button>
            <ng-template #elseBlock>
                <button type="submit" name="button" class="btn btn-primary login_btn" (click)="update()">Editar</button>
            </ng-template>
                
        </form>
        </div>
        </div>
    </div>
</div>


<app-footer></app-footer>


