<app-header></app-header>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Usuarios</h1>
        <p class="lead">Listado de usuarios:</p>

        <div class="card border-primary mb-3 table-responsive">
            <div class="card-header">Usuarios</div>
            <div class="card-body text-primary">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">nombre</th>
                        <th scope="col">email</th>

                        <th scope="col">eliminar</th>
                        <th scope="col">editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuariosList">
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.email}}</td>
                        <td><button type="button" name="button" class="btn btn-primary" (click)="delete(usuario)">eliminar</button></td>
                        <td><button type="button" name="button" class="btn btn-primary" [routerLink]= "['/registro', usuario.id]">editar</button></td>
                    </tr>
                </tbody>
            </table>
            <paginador-nav *ngIf="paginador" [entidad]= 'entidad' [paginador]= 'paginador'></paginador-nav>
            </div>
        </div>
    
    </div>
</div>

<app-footer></app-footer>


