.fondo {
    position:relative;
    background-image: url(../../assets/img/fondoGeneral.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    min-height: 100vh;
    background-position: 0 0;
}

.general_container{
    position: relative;
    padding: 30px;
}

.header_card{
    background-color:#cf9c4e  ;
    height: 35px;
}

.container_campain{
    background-color:#fffaf0;
    box-shadow: 3px 1px 7px 2px #0a0a0a25;
    padding: 20px;
}

.container_card{
    box-shadow: 0px 0px 5px 1px #cccccc ;
    margin: 30px 30px 50px 30px;
}

.container_form{
    background-color:#fcf2dc ;
    margin-bottom: 20px;
    padding: 20px;
}

.input_campain{
    box-shadow: none !important;
}

.button_container{
    display: flex;
    justify-content: space-between;
}

.button{
    margin-left: 5px;
    background-color: #eecd86;
    box-shadow: 2px 1px 4px 0px #0a0a0a25;
}

/* media móvil */

@media (max-width: 360px){
    .general_container{
        padding: 10px;
    }

    .container_card{
        margin: 0px;
    }

    .button_group{
        display: flex;
        height: max-content;
    }
}