.open_modal{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.general_container{
    display: block;
    width: 100%;
}

.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    height: auto !important;
    overflow-y: auto !important;
}

.container_card{
    margin-bottom: 20px;
}

.card-body{
    padding: 0px;
}

.header_card{
    background-color: #f9edd4;
}


