.fondo {
    position:relative;
    /* opacity: 50%; */
    background-image: url(../../assets/img/fondoLogin.jpg)!important;
    background-repeat: repeat;
    background-size: cover;
    height: 940px;
    background-position: 0 0;
}
.general{
    margin-bottom: 20px;
    margin: 0 auto;
    width: 80%;
}
.logoInicio{
    width: 50%;
    height: auto;
}