<app-header></app-header>

<div class="fondo">
    <div class="card general">
        <div class="container">
            <img class="logoInicio" src="../../assets/img/logoarqueodata.jpg" alt="logo arqueodata">
            <h1 class="display-4">Bienvenid@ a arqueodata</h1>
            <p class="lead">Arqueodata es una aplicación para gestionar piezas arqueológicas.
                Puedes navegar a través de su menú por las diferentes opciones.
            </p>
        </div>

    </div>
</div>

<app-footer></app-footer>