.fondo {
    position:relative;
    background-image: url(../../assets/img/fondoLogin.jpg)!important;
    background-repeat: repeat;
    background-size: cover;
    height: 940px;
    background-position: 0 0;
}

.user_card {
    height: auto;
    width: 410px;
    margin-top: auto;
    margin-bottom: auto;
    background: #eecd86;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #b95835;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 90px;
    width: 100%;
}
.form{
    width: 100%;
}
.login_btn {
    width: 100%;
    background: #b95835 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
    margin-top: 30px !important;
}
.input-group-text {
    background: #b95835 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.icon{
    line-height: 1.6;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #b95835
}

.categoria{
    display: inline-block;
    margin-bottom: 15px;
}

.check{
    background: #b95835 !important;
    border-radius: .25rem !important;
    color: white;
    margin-right: 5px;
}

.check:hover{
    background: #d87957 !important;
}

.checkInput{
    margin-right: 5px;
}

.listError{
    margin: 0px 10px 0px 10px;
}